<?xml version="1.0" encoding="UTF-8"?>
<config>
	<URL>https://az-cpt-qa.azurewebsites.net/</URL>
	<GoogleExe>C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe</GoogleExe>
	<GoogleBinary>C:\\uti\\Dev\\automation\\browserDrivers\\chromedriver.exe</GoogleBinary>
	<URLOld>https://az-cpt-qa.azurewebsites.net/app/index.html</URLOld>
	<ChromeExtensionModHead>chrome-extension://idgpnmonknjnojddfkpgkljpfnnfcklj/settings.tmpl.html</ChromeExtensionModHead>
	<ChromeLoadExtensionModHead>load-extension=C:\\Users\\JCOG\\AppData\\Local\\Google\\Chrome\\User Data\\Default\\Extensions\\idgpnmonknjnojddfkpgkljpfnnfcklj\\2.1.2_0</ChromeLoadExtensionModHead>
	<FileProfileModHead>C:\\Users\\JCOG\\Desktop\\ProfileHeader.xlsx</FileProfileModHead></config>